.root {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 37px 70px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.loader {
  margin-bottom: 50px;
}

.close,
.add {
  color: var(--light-color);
  background-color: var(--main-color);
  border-radius: 20px;

  font-weight: 600;
  font-size: 18px;

  text-decoration: none;
}

.close {
  padding: 18px 42px;
}

.add {
  padding: 18px 300px;
}
