* {
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dragged {
  background-color: #db7676;
}

li,
ul,
ol {
  list-style-type: none;
}

strong {
  margin-right: 10px;
  padding: 3px 15px;
  border-radius: 180px;

  font-size: 14px;
  font-weight: 600;

  text-transform: lowercase;
}
