* {
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dragged {
  background-color: #e0e0e0;
}

/* .water {
  border-radius: 20px;
  background: -webkit-linear-gradient(90deg, #d1dff1, #6da3e3, #5494e0);
  background: linear-gradient(90deg, #d1dff1, #6da3e3, #5494e0);
} */

li,
ul,
ol {
  list-style-type: none;
}
