:root {
  font-family: Roboto, arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: -webkit-linear-gradient(90deg, #ee7717, #ffffff, #df410c);
  background: linear-gradient(90deg, #ee7717, #ffffff, #df410c); */

  background: -webkit-linear-gradient(
    90deg,
    #db7676,
    #ffffff,
    #db7676
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #db7676,
    #ffffff,
    #db7676
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: none;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: white;
}

button:hover {
  border-color: #e0e0e0;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
