.fire {
  color: #f57d31;
}

.grass {
  color: #74cb48;
}

.normal {
  color: #aaa67f;
}

.fighting {
  color: #c12239;
}

.flying {
  color: #a891ec;
}

.ground {
  color: #dec16b;
}

.poison {
  color: #a43e9e;
}

.rock {
  color: #b69e31;
}

.bug {
  color: #a7b723;
}

.ghost {
  color: #70559b;
}

.steel {
  color: #b7b9d0;
}

.water {
  color: #6493eb;
}

.electric {
  color: #f9cf30;
}

.psychic {
  color: #fb5584;
}

.ice {
  color: #9ad6df;
}

.dragon {
  color: #7037ff;
}

.dark {
  color: #75574c;
}

.fairy {
  color: #e69eac;
}

.fire button,
.fire__type {
  background-color: #f57d31;
  color: #fff;
}

.grass button,
.grass__type {
  background-color: #74cb48;
  color: #fff;
}

.normal button,
.normal__type {
  background-color: #aaa67f;
  color: #fff;
}

.fighting button,
.fighting__type {
  background-color: #c12239;
  color: #fff;
}

.flying button,
.flying__type {
  background-color: #a891ec;
  color: #fff;
}

.ground button,
.ground__type {
  background-color: #dec16b;
  color: #fff;
}

.poison button,
.poison__type {
  background-color: #a43e9e;
  color: #fff;
}

.rock button,
.rock__type {
  background-color: #b69e31;
  color: #fff;
}

.bug button,
.bug__type {
  background-color: #a7b723;
  color: #fff;
}

.ghost button,
.ghost__type {
  background-color: #70559b;
  color: #fff;
}

.steel button,
.steel__type {
  background-color: #b7b9d0;
  color: #fff;
}

.water button,
.water__type {
  background-color: #6493eb;
  color: #fff;
}

.electric button,
.electric__type {
  background-color: #f9cf30;
  color: #fff;
}

.psychic button,
.psychic__type {
  background-color: #fb5584;
  color: #fff;
}

.ice button,
.ice__type {
  background-color: #9ad6df;
  color: #fff;
}

.dragon button,
.dragon__type {
  background-color: #7037ff;
  color: #fff;
}

.dark button,
.dark__type {
  background-color: #75574c;
  color: #fff;
}

.fairy button,
.fairy__type {
  background-color: #e69eac;
  color: #fff;
}
